[package]
name = "server"
version = "0.1.0"
edition = "2024"

[dependencies]
rocket = "0.5.1"
sqlx = { version = "0.8.6", features = ["runtime-tokio", "tls-native-tls", "sqlite", "uuid", "derive", "macros", "json"] }
